<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.berg.dao.system.res.mapper.ApplicationApiTblMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.berg.dao.system.res.entity.ApplicationApiTbl">
        <id column="id" property="id" />
        <result column="app_id" property="appId" />
        <result column="api_id" property="apiId" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="del_time" property="delTime" />
        <result column="del_user" property="delUser" />
        <result column="isdel" property="isdel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, app_id, api_id, create_time, create_user, del_time, del_user, isdel
    </sql>

</mapper>
